* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.download,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/public/information.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.download {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  background-image: url('/public/information.png');
}

.swiper-container {
  background-color: red;
  height: 50%;
  width: 70%;
  box-shadow: 4px 4px 5px black;
  border: 1px solid white;
  border-radius: 10px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.slide-content {
  background-color: #93c7b8;
  width: 260px;
  height: 260px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.user-image {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-photo {
  border-radius: 45px;
  width: 80px;
}

.user-story {
  font-size: large;
}
/*background-image: url('/images/img-2.jpg');*/